@page "/signin"

@if (_signInSuccesful == false)
{
    <EditForm Model="_userToSignIn" OnValidSubmit="SignInUser" OnInvalidSubmit="SignInUser">
        <DataAnnotationsValidator/>
        <div class="form-group my-3">
            <label for="email">Email Adresse</label>
            <InputText @bind-Value="_userToSignIn.Email" id="email" class="form-contol" />
            <ValidationMessage For="@(()=>_userToSignIn.Email)" />
        </div>
        <div class="form-group my-3">
            <label for="password">Password</label>
            <InputText @bind-Value="_userToSignIn.Password" id="password" class="form-contol" />
            <ValidationMessage For="@(()=>_userToSignIn.Password)" />
        </div>
        <ValidationSummary />
        <input type="submit" class="btn btn-primary" value="SignIn" />
        @if (_attemptToRegisterFailed)
        {
            <p class="my-3 text-danger">@_attemptToRegisterFailedErrorMessage</p>
        }
    </EditForm>
}
else
{
    <h4>SignIn Succesful</h4>
    <a href="/singnin" class="">Sign In</a>
}
@code {
    [Inject] HttpClient HttpClient { get; set; }
    private SignInDto _userToSignIn = new SignInDto();
    private bool _signInSuccesful = false;
    private bool _attemptToRegisterFailed = false;
    private string _attemptToRegisterFailedErrorMessage = null;
    private async Task SignInUser()
    {
        _attemptToRegisterFailed = false;
        HttpResponseMessage httpResponseMessage = await HttpClient.PostAsJsonAsync("https://localhost:7129/api/Users/signin", _userToSignIn, System.Text.Json.JsonSerializerOptions.Default);
        if (httpResponseMessage.IsSuccessStatusCode)
        {
            _signInSuccesful = true;
        }
        else
        {
            string serverErrorMessage = await httpResponseMessage.Content.ReadAsStringAsync();
            _attemptToRegisterFailed = true;
            _attemptToRegisterFailedErrorMessage = $"{httpResponseMessage} please change your input and try again. ";
        }
    }
}
@*
        <div class="form-group my-3">
            <label for="nom">Nom</label>
            <InputText @bind-Value="_userToRegister" id="nom" class="form-contol" />
            <ValidationMessage For="@(()=>_userToRegister.Nom)" />
        </div>
        <div class="form-group my-3">
            <label for="city">City</label>
            <InputText @bind-Value="_userToRegister" id="city" class="form-contol" />
            <ValidationMessage For="@(()=>_userToRegister.City)" />
        </div>
        <6div class="form-group my-3">
            <label for="email">Email Adresse</label>
            <InputText @bind-Value="_userToRegister" id="email" class="form-contol" />
            <ValidationMessage For="@(()=>_userToRegister.Email)" />
        </6div>
        <div class="form-group my-3">
            <label for="password">Password</label>
            <InputText @bind-Value="_userToRegister" id="password" class="form-contol" />
            <ValidationMessage For="@(()=>_userToRegister.Password)" />
        </div>
        <div class="form-group my-3">
            <label for="confirmepassword">ConfirmPassword</label>
            <InputText @bind-Value="_userToRegister" id="confirmepassword" class="form-contol" />
            <ValidationMessage For="@(()=>_userToRegister.ConfirmPassword)" />
        </div>
*@